.hero-section {
  &__container {
    display: flex;
    max-width: 1744px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background-image: url("../images/hero-bg.png");
    background-position: cover;
    padding-top: 176px;
    padding-bottom: 60px;
    border-radius: 90px;
    max-height: 751px;
    height: 100%;
  }
  &__container .container {
    max-height: 515px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    gap: 204px;
  }
  &__title {
    font-family: "Mont", sans-serif;
    font-weight: 900;
    color: #fff;
    font-size: 51px;
    margin-bottom: 17.5px;
    line-height: 80px;
  }
  &__title strong {
    font-size: 74px;
  }
  &__text {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 32px;
    max-width: 447px;
    line-height: 110%;
    // margin-bottom: 209px;
  }
  &__list {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
  }

  &__item {
    position: relative;
    font-family: "Mont", sans-serif;
    font-weight: 600;
    font-size: 24px;
    max-width: 300px;
    width: 100%;
    color: #fff;
    list-style: none;
    transform: translateX(32px);
  }
  &__item::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    left: -32px;
    top: 8px;
    background-color: var(--brand-color-light);
  }

  &__item.last {
    max-width: 456px;
  }
}
